<mat-card>
    <h1>All Group Members</h1>
    <mat-list>
        <mat-list-item *ngFor="let u of user">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{u.firstName}} {{u.lastName}}</div>
            <!-- <div mat-line>{{u.description}}</div> -->
            <!-- <div mat-line>
               
                    <button [routerLink]="'/admin/add-quiz/'+g.groupId" mat-stroked-button color="accent">Add
                        Quiz</button>
                    <button [routerLink]="'/admin/add-group-quiz/'+g.groupId" class="ml20" mat-stroked-button color="accent">View Quiz</button>
                    <button [routerLink]="'/admin/group-member'" class="ml20" mat-stroked-button color="accent">View Group Member</button>
                    <button class="ml20" mat-stroked-button color="accent">Update</button>
                    <button class="ml20" mat-flat-button color="warn">Delete</button>
               
            </div> -->
            <mat-divider ></mat-divider>
        </mat-list-item>

    </mat-list>


    <!-- <div class="container text-center mt20">
        <button mat-raised-button color="accent" routerLink="/admin/add-group">Create New Group</button>

    </div> -->
</mat-card>