<mat-card class="mt10 ml20" *ngFor="let q of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{q.title}}</mat-card-title>
        <mat-card-subtitle>{{q.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{q.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="accent">View All Question</button>
        <button class="ml20" mat-stroked-button color="accent">Max Marks: {{q.maxMarks}}</button>
        <button class="ml20" mat-stroked-button color="accent">No. of Questions: {{q.numberOfQuestions}}</button>
        <button class="ml20" mat-flat-button color="accent">Update</button>
        <button class="ml20" mat-flat-button color="accent">Quiz Attempts</button>
    </mat-card-actions>
</mat-card>

<div class="container text-center">
    <button class="mt20" mat-raised-button color="accent">Add New Quiz</button>
</div>