<mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
    <!-- {{user | json}} -->
    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img *ngIf="user.imgUrl==null" 
                        src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" 
                        alt=""
                        class="profile-image">

                        <img *ngIf="user.imgUrl!=null"
                            [src]="'../../../assets/'+user.imgUrl "
                            alt="" class="profile-image">

                    <h1 class="mt20">{{user.firstName}} {{user.lastName}} </h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>User ID</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <!-- <tr *ngIf="login.getUser().phone"> -->
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.role}}</td>
                            </tr>
                            <tr>
                                <td>status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                            <tr>
                                <td>Course</td>
                                <td>{{user.course}}</td>
                            </tr>
                            <tr>
                                <td>Session</td>
                                <td>{{user.session}}</td>
                            </tr>
                            <tr>
                                <td>About</td>
                                <td>{{user.about}}</td>
                            </tr>



                        </table>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions class="text-center">
        <button *ngIf="user.role=='ADMIN'" routerLink="/admin/update-profile" mat-raised-button color="primary">UPDATE</button>
        <button *ngIf="user.role=='NORMAL'" routerLink="/user-dashboard/user-update-profile" mat-raised-button color="primary">UPDATE</button>
        <!-- <button mat-raised-button color="accent">SHARE</button> -->
      </mat-card-actions>
</mat-card>
