<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div *ngIf="quizzes!=0">
        <mat-card>
            <h1>Available Quizzes</h1>
        </mat-card>
        </div>
        <div class="row mt20" >
            <div class="col-md-12 mb20" *ngFor="let q of quizzes">
                <mat-card> 
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{q.title}}</mat-card-title>
                        <mat-card-subtitle>{{q.groups.groupNmae}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button [routerLink]="'/admin/view-questions/'+q.qid+'/'+q.title" mat-flat-button color="accent">View All Question</button>
                        <button class="ml20" mat-stroked-button color="accent">Max Marks: {{q.maxMarks}}</button>
                        <button class="ml20" mat-stroked-button color="accent">No. of Questions:
                            {{q.numberOfQuestions}}</button>
                        <!-- <mat-slide-toggle class="ml20" [(ngModel)]="q.active" name="active">Publish Status</mat-slide-toggle> -->
                        <button class="ml20" mat-stroked-button color="accent">{{q.active?"Active":"Inactive"}}</button>
                        <button [routerLink]="'/admin/update-group-quiz/'+q.qid"  mat-flat-button color="accent">Update</button>
                        <button [routerLink]="'/admin/attempted-quiz/'+q.qid" class="ml20" mat-flat-button color="accent">Quiz Attempts</button>
                        <button class="ml20" mat-flat-button color="warn" (click)="deleteQuiz(q.qid)">Delete</button>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-content>
                        <h1 style="color: red;">No Quiz in this group</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container text-center">
    <button class="mt20" mat-raised-button color="accent" routerLink="/admin/add-quiz">Add New Quiz</button>
</div> -->