<mat-card>
    <h1>All Groups</h1>
    <mat-list>
        <mat-list-item *ngFor="let c of groups">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{c.groupName}}</div>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>

        </mat-list-item>
    </mat-list>
    <div class="container text-center mt20">
        <button mat-raised-button color="accent" routerLink="/admin/add-category">Create New Group</button>

    </div>
</mat-card>