<mat-card>
    <h1>All Groups</h1>
    <mat-list>
        <mat-list-item *ngFor="let g of groups">
            <mat-icon style="margin-top: -50px;" mat-list-icon>groups</mat-icon>
            <div mat-line><b>{{g.groupName}}</b></div>
            <div mat-line>{{g.description}}</div>
            <div mat-line>
                <!-- <mat-card-actions> -->
                    <button [routerLink]="'/admin/add-quiz/'+g.groupId" mat-raised-button color="accent">Add
                        Quiz</button>
                    <button [routerLink]="'/admin/add-group-quiz/'+g.groupId" class="ml20" mat-raised-button color="accent">View Quiz</button>
                    <button [routerLink]="'/admin/group-member/'+g.groupId" class="ml20" mat-raised-button color="accent">View Group Member</button>
                    <button class="ml20" mat-stroked-button color="accent">Secret Key : {{g.secretKey}}{{g.groupId}}</button>
                    <!-- <button class="ml20" mat-stroked-button color="accent">Update</button> -->
                    <button class="ml20" mat-flat-button color="warn" (click)="deleteQuiz(g.groupId)">Delete</button>
                <!-- </mat-card-actions> -->
            </div>
            <!-- <mat-action-list> -->
                <!-- <button mat-line > Save </button>
                <button mat-line > Undo </button> -->
              <!-- </mat-action-list> -->
            <mat-divider ></mat-divider>
        </mat-list-item>

    </mat-list>


    <div class="container text-center mt20">
        <button mat-raised-button color="accent" routerLink="/admin/add-group">Create New Group</button>

    </div>
</mat-card>