<mat-card>
    <h1>Add Quiz</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <form (ngSubmit)="addQuiz()">

                    <!-- title field -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Enter Title</mat-label>
                        <input 
                            [(ngModel)]="quiz.title"
                            required
                            type="text" 
                            name="Title" 
                            matInput 
                            placeholder="Enter here">
                    </mat-form-field>

                    <!-- description field -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Enter Description</mat-label>
                        <textarea 
                            [(ngModel)]="quiz.description" 
                            name="description" 
                            placeholder="Enter Quiz Description" 
                            matInput 
                            rows="5">
                        </textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- max marks -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Maximum Marks</mat-label>
                                <input 
                                    [(ngModel)]="quiz.maxMarks"
                                    required
                                    type="text" 
                                    name="maxMarks" 
                                    matInput 
                                    placeholder="Enter here">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <!-- number of question to be displayed -->
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Number of Question</mat-label>
                                <input 
                                    [(ngModel)]="quiz.numberOfQuestions"
                                    required
                                    type="text" 
                                    name="numberOfQuestions" 
                                    matInput 
                                    placeholder="Enter here">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- category -->
                    
                    <mat-form-field appearance="outline" class="w100">
                        <mat-label>Category</mat-label>
                        <mat-select  name="category" required [(ngModel)]="quiz.category.cid">
                          <mat-option *ngFor="let c of categories" [value]="c.cid">
                            {{c.title}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- active field -->
                    <br>
                    <mat-slide-toggle [(ngModel)]="quiz.active" name="active" class="mt10" [checked]="false">
                        Publish Status
                    </mat-slide-toggle>

                    <!-- add button -->
                    <div class="container text-center mt15">
                        <button mat-raised-button color="accent" type="submit">Add</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</mat-card>

<!-- {{quiz | json}} -->